body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input-element-filter{
  display: flex;
  justify-content: center;
  margin-top: 5%;


}
.input-element-filter input{
  width: 50%;
  height:  30px;
  border: 1px solid red;
  border-radius: 50px;
}
.input-element-filter .item-search{
  position: relative;
  display: flex;
  justify-self: start;
  align-items: center;
  margin-top: 0.6%;
  right: 2%;
}